.loginForm form {
    display: block;
    margin: 0 auto;
    text-align: left;
}
.loginForm label {
    display: block;
}
.loginForm input {
    width: 100%;
    padding: .5em;
    font: inherit;
}
.loginForm ul {
    list-style-type: none;
    padding: 0;
    margin: 0.25me 0;
}
.loginForm ul li {
    font-size: 0.5em;
}
.validation-errors {
    height: 32px;
}
.form-actions p {
    font-size: 0.5em;
}